@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IniciarSesion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        .center-image {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>

    <div class="container mt-5 pt-5">

        <img src="https://plataforma.ucundinamarca.edu.co/aplicaciones/CamposdeAprendizaje/assets/img/logo-udec.svg" alt="Logo Udec" width="300" height="200" class="center-image">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-4 col-md-6">

                <div class="card">

                    <div class="card-header">
                        Iniciar Sesion
                    </div>

                    <div class="card-body">
                        @{
                            var userID = new Usuario();

                        }

                        <form asp-controller="Inicio" asp-action="IniciarSesion" method="post">

                            <input class="form-control mb-3" type="text" placeholder="Documento" required name="documento" />
                            <input class="form-control mb-3" type="password" placeholder="Contraseña" required name="contraseña" />
                            <div class="d-grid gap-2 mb-3">
                                <button style="background-color: green; color: white;" class="btn btn-primary" type="submit" asp-route-id="@userID.Documento">Iniciar Sesion</button>
                            </div>
                            @if (ViewData["Mensaje"] != null)
                            {

                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["Mensaje"]
                                    </div>
                                </div>
                            }
                            ¿No tienes una cuenta? <a href="@Url.Action("Registrarse","Inicio")"> Registraste!</a>

                        </form>

                    </div>

                </div>

            </div>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
