@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido @ViewData["nombreUsuario"]</h1>
    <p>Acerca de <a href="https://docs.microsoft.com/aspnet/core">UDEC building Web apps with ASP.NET Core </a>.</p>
</div>
